In [3]:
import pandas as pd
import numpy as np
loan = pd.read_csv('../.Database/cleaned_loan.csv')
pd.set_option('display.max_columns', None)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1504\4270997895.py:3: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  loan = pd.read_csv("C:/Users/ASUS/Workspace/Stupid Econ assignment/loan.csv")

In [4]:
loan.isna().sum()

id                       0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                     ...
all_util            866007
total_rev_hi_lim     70276
inq_fi              866007
total_cu_tl         866007
inq_last_12m        866007
Length: 74, dtype: int64

In [5]:
loan['application_type'].value_counts()

application_type
INDIVIDUAL    886868
JOINT            511
Name: count, dtype: int64

In [6]:
loan_indv = loan[loan['application_type']=='INDIVIDUAL']

In [7]:
variables = [
    'annual_inc', 'delinq_2yrs', 'dti', 'emp_title', 'emp_length', 'funded_amnt', 'grade',
    'home_ownership', 'inq_last_6mths', 'installment', 'int_rate', 'issue_d', 'loan_amnt',
    'loan_status', 'mths_since_last_delinq', 'pub_rec', 'purpose', 'sub_grade', 'term', 'title',
    'total_acc', 'total_pymnt', 'acc_now_delinq'
]

# Select only the columns with selected variables 
loan_indv_cleaned = loan_indv[variables]
loan_indv_cleaned

,annual_inc,delinq_2yrs,dti,emp_title,emp_length,funded_amnt,grade,home_ownership,inq_last_6mths,installment,...,loan_status,mths_since_last_delinq,pub_rec,purpose,sub_grade,term,title,total_acc,total_pymnt,acc_now_delinq
0,24000.0,0.0,27.65,NaN,10+ years,5000,B,RENT,1.0,162.87,...,Fully Paid,NaN,0.0,credit_card,B2,36 months,Computer,9.0,5861.071414,0.0
1,30000.0,0.0,1.00,Ryder,< 1 year,2500,C,RENT,5.0,59.83,...,Charged Off,NaN,0.0,car,C4,60 months,bike,4.0,1008.710000,0.0
2,12252.0,0.0,8.72,NaN,10+ years,2400,C,RENT,2.0,84.33,...,Fully Paid,NaN,0.0,small_business,C5,36 months,real estate business,10.0,3003.653644,0.0
3,49200.0,0.0,20.00,AIR RESOURCES BOARD,10+ years,10000,C,RENT,1.0,339.31,...,Fully Paid,35.0,0.0,other,C1,36 months,personel,37.0,12226.302210,0.0
4,80000.0,0.0,17.94,University Medical Group,1 year,3000,B,RENT,0.0,67.79,...,Current,38.0,0.0,other,B5,60 months,Personal,38.0,3242.170000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887374,31000.0,0.0,28.69,Office Assistant,8 years,10000,B,RENT,0.0,332.10,...,Current,NaN,1.0,debt_consolidation,B5,36 months,Debt consolidation,15.0,3971.880000,0.0
887375,79000.0,0.0,3.90,Director of Maintenance,10+ years,24000,B,MORTGAGE,1.0,797.03,...,Current,26.0,0.0,home_improvement,B5,36 months,Home improvement,23.0,9532.390000,0.0
887376,35000.0,0.0,30.90,Radiologist Technologist,5 years,13000,D,RENT,0.0,316.07,...,Current,NaN,1.0,debt_consolidation,D2,60 months,Debt consolidation,22.0,3769.740000,0.0
887377,64400.0,1.0,27.19,Painter,1 year,12000,E,RENT,2.0,317.86,...,Current,22.0,0.0,debt_consolidation,E3,60 months,Debt consolidation,20.0,3787.670000,0.0
887378,100000.0,0.0,10.83,Manager Hotel Operations Oasis,10+ years,20000,B,RENT,1.0,664.20,...,Current,NaN,1.0,credit_card,B5,36 months,Credit card refinancing,10.0,7943.760000,0.0

In [8]:
loan_indv_cleaned['mths_since_last_delinq'] = loan_indv_cleaned['mths_since_last_delinq'].fillna(0)
loan_indv_cleaned

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1504\2437688461.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_indv_cleaned['mths_since_last_delinq'] = loan_indv_cleaned['mths_since_last_delinq'].fillna(0)

,annual_inc,delinq_2yrs,dti,emp_title,emp_length,funded_amnt,grade,home_ownership,inq_last_6mths,installment,...,loan_status,mths_since_last_delinq,pub_rec,purpose,sub_grade,term,title,total_acc,total_pymnt,acc_now_delinq
0,24000.0,0.0,27.65,NaN,10+ years,5000,B,RENT,1.0,162.87,...,Fully Paid,0.0,0.0,credit_card,B2,36 months,Computer,9.0,5861.071414,0.0
1,30000.0,0.0,1.00,Ryder,< 1 year,2500,C,RENT,5.0,59.83,...,Charged Off,0.0,0.0,car,C4,60 months,bike,4.0,1008.710000,0.0
2,12252.0,0.0,8.72,NaN,10+ years,2400,C,RENT,2.0,84.33,...,Fully Paid,0.0,0.0,small_business,C5,36 months,real estate business,10.0,3003.653644,0.0
3,49200.0,0.0,20.00,AIR RESOURCES BOARD,10+ years,10000,C,RENT,1.0,339.31,...,Fully Paid,35.0,0.0,other,C1,36 months,personel,37.0,12226.302210,0.0
4,80000.0,0.0,17.94,University Medical Group,1 year,3000,B,RENT,0.0,67.79,...,Current,38.0,0.0,other,B5,60 months,Personal,38.0,3242.170000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887374,31000.0,0.0,28.69,Office Assistant,8 years,10000,B,RENT,0.0,332.10,...,Current,0.0,1.0,debt_consolidation,B5,36 months,Debt consolidation,15.0,3971.880000,0.0
887375,79000.0,0.0,3.90,Director of Maintenance,10+ years,24000,B,MORTGAGE,1.0,797.03,...,Current,26.0,0.0,home_improvement,B5,36 months,Home improvement,23.0,9532.390000,0.0
887376,35000.0,0.0,30.90,Radiologist Technologist,5 years,13000,D,RENT,0.0,316.07,...,Current,0.0,1.0,debt_consolidation,D2,60 months,Debt consolidation,22.0,3769.740000,0.0
887377,64400.0,1.0,27.19,Painter,1 year,12000,E,RENT,2.0,317.86,...,Current,22.0,0.0,debt_consolidation,E3,60 months,Debt consolidation,20.0,3787.670000,0.0
887378,100000.0,0.0,10.83,Manager Hotel Operations Oasis,10+ years,20000,B,RENT,1.0,664.20,...,Current,0.0,1.0,credit_card,B5,36 months,Credit card refinancing,10.0,7943.760000,0.0

In [9]:
loan_indv_cleaned.isna().sum()

annual_inc                    4
delinq_2yrs                  29
dti                           0
emp_title                 51401
emp_length                44764
funded_amnt                   0
grade                         0
home_ownership                0
inq_last_6mths               29
installment                   0
int_rate                      0
issue_d                       0
loan_amnt                     0
loan_status                   0
mths_since_last_delinq        0
pub_rec                      29
purpose                       0
sub_grade                     0
term                          0
title                       144
total_acc                    29
total_pymnt                   0
acc_now_delinq               29
dtype: int64

In [10]:
loan_indv_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 886868 entries, 0 to 887378
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   annual_inc              886864 non-null  float64
 1   delinq_2yrs             886839 non-null  float64
 2   dti                     886868 non-null  float64
 3   emp_title               835467 non-null  object
 4   emp_length              842104 non-null  object
 5   funded_amnt             886868 non-null  int64
 6   grade                   886868 non-null  object
 7   home_ownership          886868 non-null  object
 8   inq_last_6mths          886839 non-null  float64
 9   installment             886868 non-null  float64
 10  int_rate                886868 non-null  float64
 11  issue_d                 886868 non-null  object
 12  loan_amnt               886868 non-null  int64
 13  loan_status             886868 non-null  object
 14  mths_since_last_delinq  886868 non-null  float64
 15  pub_rec                 886839 non-null  float64
 16  purpose                 886868 non-null  object
 17  sub_grade               886868 non-null  object
 18  term                    886868 non-null  object
 19  title                   886724 non-null  object
 20  total_acc               886839 non-null  float64
 21  total_pymnt             886868 non-null  float64
 22  acc_now_delinq          886839 non-null  float64
dtypes: float64(11), int64(2), object(10)
memory usage: 162.4+ MB

In [11]:
loan_indv_cleaned= loan_indv_cleaned.dropna(subset=['delinq_2yrs'])
loan_indv_cleaned

,annual_inc,delinq_2yrs,dti,emp_title,emp_length,funded_amnt,grade,home_ownership,inq_last_6mths,installment,...,loan_status,mths_since_last_delinq,pub_rec,purpose,sub_grade,term,title,total_acc,total_pymnt,acc_now_delinq
0,24000.0,0.0,27.65,NaN,10+ years,5000,B,RENT,1.0,162.87,...,Fully Paid,0.0,0.0,credit_card,B2,36 months,Computer,9.0,5861.071414,0.0
1,30000.0,0.0,1.00,Ryder,< 1 year,2500,C,RENT,5.0,59.83,...,Charged Off,0.0,0.0,car,C4,60 months,bike,4.0,1008.710000,0.0
2,12252.0,0.0,8.72,NaN,10+ years,2400,C,RENT,2.0,84.33,...,Fully Paid,0.0,0.0,small_business,C5,36 months,real estate business,10.0,3003.653644,0.0
3,49200.0,0.0,20.00,AIR RESOURCES BOARD,10+ years,10000,C,RENT,1.0,339.31,...,Fully Paid,35.0,0.0,other,C1,36 months,personel,37.0,12226.302210,0.0
4,80000.0,0.0,17.94,University Medical Group,1 year,3000,B,RENT,0.0,67.79,...,Current,38.0,0.0,other,B5,60 months,Personal,38.0,3242.170000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887374,31000.0,0.0,28.69,Office Assistant,8 years,10000,B,RENT,0.0,332.10,...,Current,0.0,1.0,debt_consolidation,B5,36 months,Debt consolidation,15.0,3971.880000,0.0
887375,79000.0,0.0,3.90,Director of Maintenance,10+ years,24000,B,MORTGAGE,1.0,797.03,...,Current,26.0,0.0,home_improvement,B5,36 months,Home improvement,23.0,9532.390000,0.0
887376,35000.0,0.0,30.90,Radiologist Technologist,5 years,13000,D,RENT,0.0,316.07,...,Current,0.0,1.0,debt_consolidation,D2,60 months,Debt consolidation,22.0,3769.740000,0.0
887377,64400.0,1.0,27.19,Painter,1 year,12000,E,RENT,2.0,317.86,...,Current,22.0,0.0,debt_consolidation,E3,60 months,Debt consolidation,20.0,3787.670000,0.0
887378,100000.0,0.0,10.83,Manager Hotel Operations Oasis,10+ years,20000,B,RENT,1.0,664.20,...,Current,0.0,1.0,credit_card,B5,36 months,Credit card refinancing,10.0,7943.760000,0.0

In [12]:
loan_indv_cleaned.isna().sum()

annual_inc                    0
delinq_2yrs                   0
dti                           0
emp_title                 51389
emp_length                44764
funded_amnt                   0
grade                         0
home_ownership                0
inq_last_6mths                0
installment                   0
int_rate                      0
issue_d                       0
loan_amnt                     0
loan_status                   0
mths_since_last_delinq        0
pub_rec                       0
purpose                       0
sub_grade                     0
term                          0
title                       144
total_acc                     0
total_pymnt                   0
acc_now_delinq                0
dtype: int64

In [13]:
loan_indv_cleaned['emp_length'].value_counts()

emp_length
10+ years    291400
2 years       78832
< 1 year      70541
3 years       69992
1 year        57061
5 years       55686
4 years       52496
7 years       44576
8 years       43930
6 years       42927
9 years       34634
Name: count, dtype: int64

In [14]:
loan_indv_cleaned= loan_indv_cleaned.dropna(subset=['emp_length'])
loan_indv_cleaned

,annual_inc,delinq_2yrs,dti,emp_title,emp_length,funded_amnt,grade,home_ownership,inq_last_6mths,installment,...,loan_status,mths_since_last_delinq,pub_rec,purpose,sub_grade,term,title,total_acc,total_pymnt,acc_now_delinq
0,24000.0,0.0,27.65,NaN,10+ years,5000,B,RENT,1.0,162.87,...,Fully Paid,0.0,0.0,credit_card,B2,36 months,Computer,9.0,5861.071414,0.0
1,30000.0,0.0,1.00,Ryder,< 1 year,2500,C,RENT,5.0,59.83,...,Charged Off,0.0,0.0,car,C4,60 months,bike,4.0,1008.710000,0.0
2,12252.0,0.0,8.72,NaN,10+ years,2400,C,RENT,2.0,84.33,...,Fully Paid,0.0,0.0,small_business,C5,36 months,real estate business,10.0,3003.653644,0.0
3,49200.0,0.0,20.00,AIR RESOURCES BOARD,10+ years,10000,C,RENT,1.0,339.31,...,Fully Paid,35.0,0.0,other,C1,36 months,personel,37.0,12226.302210,0.0
4,80000.0,0.0,17.94,University Medical Group,1 year,3000,B,RENT,0.0,67.79,...,Current,38.0,0.0,other,B5,60 months,Personal,38.0,3242.170000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887374,31000.0,0.0,28.69,Office Assistant,8 years,10000,B,RENT,0.0,332.10,...,Current,0.0,1.0,debt_consolidation,B5,36 months,Debt consolidation,15.0,3971.880000,0.0
887375,79000.0,0.0,3.90,Director of Maintenance,10+ years,24000,B,MORTGAGE,1.0,797.03,...,Current,26.0,0.0,home_improvement,B5,36 months,Home improvement,23.0,9532.390000,0.0
887376,35000.0,0.0,30.90,Radiologist Technologist,5 years,13000,D,RENT,0.0,316.07,...,Current,0.0,1.0,debt_consolidation,D2,60 months,Debt consolidation,22.0,3769.740000,0.0
887377,64400.0,1.0,27.19,Painter,1 year,12000,E,RENT,2.0,317.86,...,Current,22.0,0.0,debt_consolidation,E3,60 months,Debt consolidation,20.0,3787.670000,0.0
887378,100000.0,0.0,10.83,Manager Hotel Operations Oasis,10+ years,20000,B,RENT,1.0,664.20,...,Current,0.0,1.0,credit_card,B5,36 months,Credit card refinancing,10.0,7943.760000,0.0

In [15]:
loan_indv_cleaned['loan_status'].value_counts()

loan_status
Current                                                568301
Fully Paid                                             200350
Charged Off                                             42723
Late (31-120 days)                                      10870
Issued                                                   7769
In Grace Period                                          6013
Late (16-30 days)                                        2215
Does not meet the credit policy. Status:Fully Paid       1943
Default                                                  1148
Does not meet the credit policy. Status:Charged Off       743
Name: count, dtype: int64

In [16]:
loan_indv_cleaned.isna().sum()

annual_inc                   0
delinq_2yrs                  0
dti                          0
emp_title                 7014
emp_length                   0
funded_amnt                  0
grade                        0
home_ownership               0
inq_last_6mths               0
installment                  0
int_rate                     0
issue_d                      0
loan_amnt                    0
loan_status                  0
mths_since_last_delinq       0
pub_rec                      0
purpose                      0
sub_grade                    0
term                         0
title                      135
total_acc                    0
total_pymnt                  0
acc_now_delinq               0
dtype: int64

In [17]:
loan_indv_cleaned['log_annual_inc'] = np.log(loan_indv_cleaned['annual_inc'])

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1504\883155574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_indv_cleaned['log_annual_inc'] = np.log(loan_indv_cleaned['annual_inc'])

In [18]:
mapping = {
    'Fully Paid': 0,
    'Does not meet the credit policy. Status:Fully Paid': 0,
    'Charged Off': 1,
    'Late (31-120 days)': 1,
    'Default': 1,
    'Does not meet the credit policy. Status:Charged Off': 1
}

# Map the loan status to new values
loan_indv_cleaned['loan_status_grouped'] = loan_indv_cleaned['loan_status'].map(mapping)

# Filter to keep only the relevant statuses (1 and 0)
loan_indv_filtered = loan_indv_cleaned.dropna(subset=['loan_status_grouped'])

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1504\3805589354.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_indv_cleaned['loan_status_grouped'] = loan_indv_cleaned['loan_status'].map(mapping)

In [20]:
loan_indv_filtered

,annual_inc,delinq_2yrs,dti,emp_title,emp_length,funded_amnt,grade,home_ownership,inq_last_6mths,installment,int_rate,issue_d,loan_amnt,loan_status,mths_since_last_delinq,pub_rec,purpose,sub_grade,term,title,total_acc,total_pymnt,acc_now_delinq,log_annual_inc,loan_status_grouped
0,24000.0,0.0,27.65,NaN,10+ years,5000,B,RENT,1.0,162.87,10.65,Dec-11,5000,Fully Paid,0.0,0.0,credit_card,B2,36 months,Computer,9.0,5861.071414,0.0,10.085809,0.0
1,30000.0,0.0,1.00,Ryder,< 1 year,2500,C,RENT,5.0,59.83,15.27,Dec-11,2500,Charged Off,0.0,0.0,car,C4,60 months,bike,4.0,1008.710000,0.0,10.308953,1.0
2,12252.0,0.0,8.72,NaN,10+ years,2400,C,RENT,2.0,84.33,15.96,Dec-11,2400,Fully Paid,0.0,0.0,small_business,C5,36 months,real estate business,10.0,3003.653644,0.0,9.413444,0.0
3,49200.0,0.0,20.00,AIR RESOURCES BOARD,10+ years,10000,C,RENT,1.0,339.31,13.49,Dec-11,10000,Fully Paid,35.0,0.0,other,C1,36 months,personel,37.0,12226.302210,0.0,10.803649,0.0
5,36000.0,0.0,11.20,Veolia Transportaton,3 years,5000,A,RENT,3.0,156.46,7.90,Dec-11,5000,Fully Paid,0.0,0.0,wedding,A4,36 months,My wedding loan I promise to pay back,12.0,5631.377753,0.0,10.491274,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887347,63078.0,0.0,31.70,customer service,10+ years,17000,D,MORTGAGE,0.0,413.32,15.99,Jan-15,17000,Fully Paid,0.0,0.0,debt_consolidation,D2,60 months,Debt consolidation,28.0,17196.520000,0.0,11.052127,0.0
887351,48000.0,0.0,36.93,supervisor,10+ years,4200,D,MORTGAGE,0.0,147.64,15.99,Jan-15,4200,Charged Off,38.0,0.0,medical,D2,36 months,Medical expenses,45.0,1026.020000,0.0,10.778956,1.0
887364,54000.0,1.0,13.22,Coordinator of RSVP,< 1 year,10775,A,RENT,0.0,327.95,6.03,Jan-15,10775,Fully Paid,16.0,0.0,debt_consolidation,A1,36 months,Debt consolidation,21.0,11071.870000,0.0,10.896739,0.0
887366,27000.0,0.0,18.58,Painter,2 years,6225,D,RENT,1.0,220.37,16.49,Jan-15,6225,Fully Paid,0.0,0.0,debt_consolidation,D3,36 months,Debt consolidation,4.0,7050.460000,0.0,10.203592,0.0
887369,50000.0,0.0,12.63,Lead Custodian,10+ years,4000,B,MORTGAGE,0.0,126.59,8.67,Jan-15,4000,Fully Paid,0.0,1.0,car,B1,36 months,Car financing,30.0,4158.020000,0.0,10.819778,0.0

In [21]:
loan_indv_filtered['loan_status_grouped'].value_counts()

loan_status_grouped
0.0    202293
1.0     55484
Name: count, dtype: int64

In [23]:
loan_indv_filtered

,annual_inc,delinq_2yrs,dti,emp_title,emp_length,funded_amnt,grade,home_ownership,inq_last_6mths,installment,int_rate,issue_d,loan_amnt,loan_status,mths_since_last_delinq,pub_rec,purpose,sub_grade,term,title,total_acc,total_pymnt,acc_now_delinq,log_annual_inc,loan_status_grouped
0,24000.0,0.0,27.65,NaN,10+ years,5000,B,RENT,1.0,162.87,10.65,Dec-11,5000,Fully Paid,0.0,0.0,credit_card,B2,36 months,Computer,9.0,5861.071414,0.0,10.085809,0.0
1,30000.0,0.0,1.00,Ryder,< 1 year,2500,C,RENT,5.0,59.83,15.27,Dec-11,2500,Charged Off,0.0,0.0,car,C4,60 months,bike,4.0,1008.710000,0.0,10.308953,1.0
2,12252.0,0.0,8.72,NaN,10+ years,2400,C,RENT,2.0,84.33,15.96,Dec-11,2400,Fully Paid,0.0,0.0,small_business,C5,36 months,real estate business,10.0,3003.653644,0.0,9.413444,0.0
3,49200.0,0.0,20.00,AIR RESOURCES BOARD,10+ years,10000,C,RENT,1.0,339.31,13.49,Dec-11,10000,Fully Paid,35.0,0.0,other,C1,36 months,personel,37.0,12226.302210,0.0,10.803649,0.0
5,36000.0,0.0,11.20,Veolia Transportaton,3 years,5000,A,RENT,3.0,156.46,7.90,Dec-11,5000,Fully Paid,0.0,0.0,wedding,A4,36 months,My wedding loan I promise to pay back,12.0,5631.377753,0.0,10.491274,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887347,63078.0,0.0,31.70,customer service,10+ years,17000,D,MORTGAGE,0.0,413.32,15.99,Jan-15,17000,Fully Paid,0.0,0.0,debt_consolidation,D2,60 months,Debt consolidation,28.0,17196.520000,0.0,11.052127,0.0
887351,48000.0,0.0,36.93,supervisor,10+ years,4200,D,MORTGAGE,0.0,147.64,15.99,Jan-15,4200,Charged Off,38.0,0.0,medical,D2,36 months,Medical expenses,45.0,1026.020000,0.0,10.778956,1.0
887364,54000.0,1.0,13.22,Coordinator of RSVP,< 1 year,10775,A,RENT,0.0,327.95,6.03,Jan-15,10775,Fully Paid,16.0,0.0,debt_consolidation,A1,36 months,Debt consolidation,21.0,11071.870000,0.0,10.896739,0.0
887366,27000.0,0.0,18.58,Painter,2 years,6225,D,RENT,1.0,220.37,16.49,Jan-15,6225,Fully Paid,0.0,0.0,debt_consolidation,D3,36 months,Debt consolidation,4.0,7050.460000,0.0,10.203592,0.0
887369,50000.0,0.0,12.63,Lead Custodian,10+ years,4000,B,MORTGAGE,0.0,126.59,8.67,Jan-15,4000,Fully Paid,0.0,1.0,car,B1,36 months,Car financing,30.0,4158.020000,0.0,10.819778,0.0

In [1]:
loan_indv_filtered.to_csv('.Database/cleaned_loan.csv', index=False)

NameError: name 'loan_indv_filtered' is not defined